<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vit01.idecmobile">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="ApplicationMain"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Light">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchActivity" />

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".EchoReaderActivity"
            android:label="@string/title_activity_echo_view"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vit01.idecmobile.MainActivity" />

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchActivity" />

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vit01.idecmobile.MainActivity" />
        </activity>
        <activity android:name=".DebugActivity" />
        <activity
            android:name=".ProgressActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".StationsActivity"
            android:label="@string/title_activity_stations"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vit01.idecmobile.MainActivity" />
        </activity>
        <activity
            android:name=".ListEditActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vit01.idecmobile.MainActivity" />
        </activity>
        <activity android:name=".MessageSlideActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vit01.idecmobile.EchoReaderActivity" />
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vit01.idecmobile.MainActivity" />
        </activity>
        <activity
            android:name=".OpenLinkActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="ii" />
            </intent-filter>
        </activity>
        <activity android:name=".DraftEditor" />
        <activity
            android:name=".AdditionalActivity"
            android:label="@string/title_activity_additional"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vit01.idecmobile.MainActivity" />
        </activity>
        <activity android:name=".DraftsView" />
        <activity android:name=".FileChooserActivity" />
        <activity
            android:name=".SearchActivity"
            android:label="Поиск сообщений"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

        </activity>
        <activity
            android:name=".bugreports.CrashReportActivity"
            android:theme="@style/Theme.AppCompat" />

        <receiver android:name=".notify.boot_completed_receiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".notify.workerJob" />

        <service android:name=".notify.AlarmService" />
    </application>

</manifest>