<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vit01.idecmobile">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="ApplicationMain"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Light">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchActivity" />

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".GUI.Reading.EchoReaderActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vit01.idecmobile.MainActivity" />

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchActivity" />

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".GUI.Settings.SettingsActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vit01.idecmobile.MainActivity" />
        </activity>
        <activity android:name=".DebugActivity" />
        <activity
            android:name=".ProgressActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".GUI.Settings.StationsActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vit01.idecmobile.MainActivity" />
        </activity>
        <activity
            android:name=".ListEditActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vit01.idecmobile.MainActivity" />
        </activity>
        <activity android:name=".GUI.Reading.MessageSlideActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vit01.idecmobile.GUI.Reading.EchoReaderActivity" />
        </activity>
        <activity
            android:name=".HelperActivity"
            android:label="@string/title_activity_help" />
        <activity
            android:name=".gui_helpers.OpenLinkActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="ii" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GUI.Drafts.DraftEditor"
            android:label="@string/action_share_idec">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name=".GUI.Files.UploaderActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vit01.idecmobile.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="image/*" />
                <data android:mimeType="message/*" />
                <data android:mimeType="multipart/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <activity android:name=".GUI.Drafts.DraftsView" />
        <activity android:name=".GUI.Files.FilesActivity" />
        <activity android:name=".GUI.Files.FileChooserActivity" />
        <activity
            android:name=".SearchActivity"
            android:label="@string/search"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

        </activity>
        <activity
            android:name=".bugreports.CrashReportActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity android:name=".GUI.ManageDatabase.ManageDatabaseActivity" />

        <receiver android:name=".notify.boot_completed_receiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".notify.workerJob" />

        <service android:name=".notify.AlarmService" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <provider
            android:name=".FechoFilesProvider"
            android:authorities="${applicationId}.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />
    </application>

</manifest>